	body,h2,span,div,textarea,ul,li{
		margin:0px;
		padding:0px;
	}
	#banner{
		margin-top:20px;
		float:left;
	}
	#banner ul{
		float:right;
		margin-bottom:5px;
	}
	#banner ul li{
		float:left;
		list-style-type:none;
		line-height:30px;
	}
	#banner ul li h2{
		color:green;
	}
	#tips{
		line-height: 20px;
	}
	#inputBox{
		float:left;
	}
	#content textarea{
		line-height:24px;
		font-size:20px;
		font-family:"楷体";
		text-align:left;
	}